{% extends 'inicio/base.html'%}
{% load static %}

{% block content %} 


  <div class="container">
      <h2>Información de los servicios </h2> 
      <table> 
        <thead>
          <tr>
            <th>SERVICIOS </th>
            <th>ESTADO</th>
            <th>MÁS INFORMACIÓN</th>
          </tr>
        </thead>
      <tbody>

{% for service in service_list %}
          <tr> 
          <td>{{ service }} </td>
          <td> {{service.status}}</td>
          <td style="text-align: center;">
          <a href="{% url 'service' service.id %}" class="btn btn-link" tabindex="-1" role="button" aria-disabled="true">
            <i class="bi bi-info-circle" style="font-size: 24px;"></i>
          </a>
          </td>
          </tr>
{% endfor %}
        </tbody>
        </table>
    </div>


    <div class="container text-center">
      <a href="{% url 'incidences' %}" class="btn-link d-flex align-items-center justify-content-center" style="font-size: 22px;">
          <span class="material-symbols-outlined" style="font-size: 23px; margin-right: 5px;">history</span> Ver historial de incidencias
      </a>
  </div>
  
  
{% endblock %}