{% extends 'inicio/base.html'%}
{% load static %}

{% block content %} 


<div class="container">
  <div class="row">
    <div class="col">

      <h2>Información de los servicios </h2>
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th class="text-center">SERVICIOS </th>
              <th class="text-center">ESTADO</th>
              <th class="text-center">MÁS INFORMACIÓN</th>
            </tr>
          </thead>
          <tbody>
            {% for service in service_list %}
              <tr>
                <td class="align-middle">{{ service.name }}</td>
                {% if service.status.description == "Disponible" %}
                  <td class="text-center align-middle">
                    <span class="badge" style="background-color: #4cae50; font-size: 0.93em; width: 120px; height: 30px; display: inline-flex; align-items: center; justify-content: center;">
                      Disponible <i class="bi bi-check-circle"></i>
                    </span>
                  </td>
                {% elif service.status.description == "Interrupción del servicio" %}
                  <td class="text-center align-middle">
                    <span class="badge text-dark" style="background-color: #ffc940; font-size: 0.93em; width: 120px; height: 30px; display: inline-flex; align-items: center; justify-content: center;">

                      Interrupción <i class="bi bi-exclamation-triangle"></i>
                    </span>
                  </td>
                {% elif service.status.description == "Información del servicio" %}
                  <td class="text-center align-middle">
                    <span class="badge" style="background-color: #1771f8; font-size: 0.93em; width: 120px; height: 30px; display: inline-flex; align-items: center; justify-content: center;">
                      Información <i class="bi bi-info-square"></i>
                    </span>
                  </td>
                {% elif service.status.description == "Suspención temporal del servicio" %}
                  <td class="text-center align-middle">
                    <span class="badge" style="background-color: #c83c3c; font-size: 0.93em; width: 120px; height: 30px; display: inline-flex; align-items: center; justify-content: center;">
                      Suspensión temporal <i class="bi bi-x-circle"></i>
                    </span>
                  </td>
                {% else %}
                  <td>{{ service.status }}</td>
                {% endif %}
                <td class="text-center align-middle">
                  <a href="{% url 'service' service.id %}" tabindex="-1" role="button" aria-disabled="true">
                    <i class="bi bi-info-circle" style="font-size: 24px;"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr>
        <div class="d-flex justify-content-center">
          <a href="{% url 'incidences' %}" class="btn btn-link d-flex align-items-center" style="font-size: 22px; color: #3498db; text-decoration: none;">
              <span style="margin-right: 5px; color: #3498db;">Ver historial de incidencias</span>
              <i class="bi bi-clock-history" style="color: #3498db;"></i>
          </a>
      </div>
      <div class="container" id="ultima-actualizacion">
        <div class="row">
          <div class="col">
           Última actualización:  {{last_update.date_update}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



  

{% endblock %}